* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}
input,
button,
textarea,
select {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
/*==============================================================================================*/

body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	background: #353333;
	color: #fff;
	font-size: 25px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	align-items: center;
	overflow: hidden;
}

/*==============================================================================================*/

.table {
	width: 100%;
}
.table__row {
	display: flex;
}
.table__column {
	flex: 2 1;
	border: 1px solid #fff;
}

.table__column_count {
	flex: 0 1 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.table__input {
	padding: 10px;
	font-size: 20px;
	color: #fff;
	font-weight: 700;
	background: transparent;
	display: inline-block;
	width: 100%;
	height: 100%;
	line-height: 150%;
}

.table__button svg {
	fill: #fff;
	width: 25px;
	height: 25px;
	transition: all 0.2s ease 0s;
}

.table__column_buttons {
	display: flex;
	flex: 1 1;
}
.table__button {
	flex-grow: 1;
	color: white;
	font-size: 19px;
	padding: 10px;
	transition: all 0.2s ease 0s;
}

/*------------------------------------*/

.table__button_save {
	background: #37a137;
}
.table__button_reset {
	background: #861919;
}
.table__button_edit {
	background: #69440d;
}

.table__button_save:hover svg {
	transform: scale(1.1);
}
.table__button_reset:hover svg {
	transform: rotate(-90deg);
}
.table__row.saved .table__button_edit:hover svg {
	transform: translate(-2px, 2px);
}

.table__button_save:hover {
	background: #4ad14a;
}
.table__button_reset:hover {
	background: #aa1b1b;
}
.table__row.saved .table__button_edit:hover {
	background: #f09814;
}

/*------------------------------------*/

.table__row.saved .table__button_edit {
	background: #db8708;
}

.table__row.saved .table__button_save {
	background: #1a521a;
}

.table__row.saved .table__button_save:hover svg {
	transform: scale(1);
}
